//- меню 
        - имя класса,
        - массив[имя,ссылка],
        - номер активного элемента,
        - тип подменю[v,h]; //v-вертикальный, h-горизонтальный   

mixin menu(className,items,activeItem,typeMenu)
    ul(class=className)
        each menu,key in items
            if (menu[2]) 
                li(class=`${className}__item`+ ((key===activeItem-1) ? ` active` : ''))
                    a(href=menu[1] class=`${className}__link ${className}_arrow`) !{menu[0]}
                    ul(class=`${className}__sub` + ((typeMenu==='h') ? ` container` : ''))
                        each submenu,subkey in menu[2]
                            li(class=`${className}__sub-item`+ ((subkey===activeItem-1) ? ` active` : ''))
                                a(href=submenu[1] class=`${className}__sub-link`) !{submenu[0]}
            else 
                li(class=`${className}__item`+ ((key===activeItem-1) ? ` active` : ''))
                    a(href=menu[1] class=`${className}__link`) !{menu[0]}


        
//- -- список -- 
        - имя класса,
        - массив[имя,ссылка],
        - тип списка[0,1]; //0-без сылок, 1-включает ссылки      

mixin enum-list(className,items,activeLink) 
    ul(class=className)
        each menu,key in items
            if (menu[1]) 
                li(class=`${className}__item`)
                    a(href=menu[1] class=`${className}__link`) #{menu[0]}
            else 
                li(class=`${className}__item`) #{menu[0]}



//- -- вывод списка --
        - имя класса, 
        - перечесление элементов списка

mixin rest-list(className, items)
    each item in items
        li(class=`${className}`) #{item}     



//- -- хлебные крошки --
        - имя класса, 
        - перечесление элементов списка

mixin breadcrumbs(className, items)
    ul(class=`${className}`)
        each item, key in items 
            if (item[1]) 
                li(class=`${className}__item`)
                    a(href="#" class=`${className}__link`) #{item[0]}
            else 
                li(class=`${className}__item`) #{item[0]}



//- -- вывод таблицы --
        - таблица в виде массива

mixin table(items)   
    each item_tr, key_tr in items 
        tr
            each item_td, key_td in item_tr 
                td #{item_td}
            



//- -- Вывод социалок -- (
        - имя класса формы,
        - массив значений[0-имя иконки,  1-ссылка]

mixin socials(className,items) 
    ul(class=`${className}`)
        each item,key in items 
            li(class=`${className}__item`) 
                if (item[0])
                    if (item[1])
                        a(class=`${className}__link` href=`${item[1]}`)
                            span(class=`${className}__icon ${item[0]}`)
                    else    
                        span(class=`${className}__icon ${item[0]}`)



//- -- Пагинация --
        - имя класса, 
        - перечесление страниц(номера например), 
        - активная страница

mixin pagination(className, items, active)
    ul(class=`${className}`)
        li(class=`${className}__control`)
            a(class=`${className}__control-link` href="#") Предыдущая
        each item, key in items 
            li(class=`${className}__item pagination_num` + (( key === active - 1 ) ? ` active` : ''))
                a(href="#" class=`${className}__link`) #{item}
        li(class=`${className}__control`)
            a(class=`${className}__control-link` href="#") Следующая

                        