
footer.footer
    
    .footer__top
        .container
            .footer-top
                .footer-top__left
                    a(href="/").logo
                        img.header__image(src=`${config.pathImg}/${config.logoFooter}` alt='')  
                    +socials(socials) 
                .footer-top__right 
                    .footer-menu
                        +list(footerMenu)
                    .footer-top__contacts.footer-contacts 
                        .footer-contacts__item
                            +icon-text(phoneFooter1)
                        .footer-contacts__item
                            +icon-text(phoneFooter2)
    .footer__bottom
        .container
            .footer-bottom
                .footer-bottom__left 
                    .copyright !{config.copyright}
                .footer-bottom__right
                    .footer-bottom__counter.counter
                        img(src=`${config.pathImg}/${config.counter}`, alt="")
                    .footer-bottom__made-in.made-in Сделано в компании 
                        a(target="_blank" href=`${config.site.link}`) !{config.site.name}



